<%= form_for comfort_type, :html => { :multipart => true }, :html => { :class => 'form-horizontal' } do |f| %>
  <% if comfort_type.errors.any? %>
    <div class="row">
    	<div class="row">
    	<div class="col-lg-2">
    	</div>
    	<div class="col-lg-8">
    		<div class="alert alert-dismissable alert-danger">
    		  <strong><%= pluralize(comfort_type.errors.count, "error") %> prohibited this photo_post from being saved:</strong>
	    	  <ul>
		      <% comfort_type.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
    		</div>
    	</div>  	      
    	<div class="col-lg-2">
    	</div>	      
    	</div>
    </div>
  <% end %>



  <div class="form-group">
    <%= f.label "Comfort type name", :class => 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.text_field :name, :class => 'form-control', :id => "Input", :placeholder => "Comfort type name" %>
    </div>
  </div> 
  
  <div class="form-group">
    <%= f.label "Price per day", :class => 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.text_field :price, :class => 'form-control', :id => "Input", :placeholder => "Enter price in format 9.99" %>
    </div>
  </div>       
        
  <div class="form-group">
  	<div class="col-lg-4 col-lg-offset-2">
    <%= f.submit "Save", :class => 'btn btn-primary' %>
  	</div>
  </div>   
<% end %>