<h1>OUR CARS</h1>



    <% cars.each do |car| %>
		<div class="jumbotron">
			<div class="row">
				<a href="/cars/<%= car.id%>">
				<div class="col-lg-4">
				<%= image_tag car.photo1.url(:thumb), :class => 'img-circle'  %>
				<h3 class="text-danger">Comfort type: <%= car.comfort_type.try(:name)%></h3>	
				<h4 class="text-info">Price per day: <%= number_to_currency(car.comfort_type.try(:price), :unit => "zł")%></h4>
				</div>
				<div class="col-lg-4">
				<h3><%= car.name%></h3>
				<small><%= car.description%></small>
				</div>
				<div class="col-lg-3 holder">
				<% if  car.available == true %>
				<h3>Car is avilable</h3>
				<%= image_tag("yes.png", size: "150x150") %>
				<% elsif  car.available == false%>
				<% last_rent = Rent.where(car_id: car.id).last.created_at%>
				<% no_of_days = Rent.where(car_id: car.id).last.no_of_days%>
				<h4 class="text-danger">Car is not avilable until: <br /> <%=(last_rent + no_of_days.day).to_formatted_s(:short)%></h4>
				<%= image_tag("no.png", size: "150x150") %>		
				<% end %>
				</div>
				</a>
				<div class="col-lg-1">
				<% if  car.available == false && current_user.try(:admin?) %>
					<%= link_to 'AVAILABLE', make_car_available_path(car), :remote => true, class: "btn btn-danger btn-xs change-av" %>
				<% end %>
				</div>										
			</div>	
		</div>
    <% end %>

<br>
<% if  current_user.try(:admin?) %>
<%= link_to 'Add New Car', new_car_path, :class => 'btn btn-primary' %>
<% end %>
<script>
$( ".change-av" ).click(function() {
$( ".holder" ).html('<h3>Car is avilable</h3><img src="/assets/yes.png" width="150" height="150"/>');
});
</script>
