<!DOCTYPE html>
<%= favicon_link_tag("favicon.png")%>
<html>
<head>
  <title>Rent-a-car</title>
  <%= stylesheet_link_tag    'cerulean', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>
  <%= javascript_include_tag 'cerulean', 'data-turbolinks-track' => true %>
  <%= yield(:page_javascript) if content_for?(:page_javascript) %>  
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="container theme-showcase">
<%= render 'layouts/alertnotice' %>

<%= yield %>
<%= render 'layouts/footer' %>  
</div>
</body>
</html>

